#table1{
  padding-top: 15px; 
  padding-bottom:15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 60px;
}
#table2{
  padding-top: 15px; 
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 60px;
}
#img1{
  padding-top: 15px; 
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
